/* Don't forget to use the 'rem' CSS unit instead of 'em' because it is relative to the html element */
html { font-size:100%; }

body
{
	font-family: sans-serif; /* Serif is awful :( */
}

h1, h2, h3, h4, h5, h6
{
	text-align: center;
}

/* A small tweak to things more responsive */
iframe, object, embed, img, table
{
    max-width: 100%;
}

/* Turn the user's cursor into a hand when over things they can click */
button, summary
{
    cursor: pointer;
}

th, td
{
    margin: 0.35rem 0.4rem;
    padding: 0.35rem 0.4rem;
}

label
{
	display		: inline-block;
	min-width	: 6rem;
}

/* todo add the rest of the textbox-like inputs here */
input[type=text], input[type=number], input[type=password], input[type=search], input[type=url], textarea
{
    margin			: 0.3rem 0.4rem;
    padding			: 0.3rem 0.4rem;
	
	width			: 14rem;
	
	color			: #83a8d7;
	font-family		: "Fresca", sans-serif;
	font-size		: 1.1rem;
	
    background		: rgba(217, 231, 244, 0.58);
	border			: 0;
    border-radius	: 0.35rem;
}

::-webkit-input-placeholder
{
	color: #c8bbe2;
}

footer
{
	margin-top: 5rem;
}

#search-box
{
	width: 100%;
}

.icon
{
	max-width: 2rem;
	max-height: 2rem;
	
	margin: 0.3rem;
	
	vertical-align: middle;
	
	transform: scale(1);
	transition: transform 0.25s;
}
.icon:hover		{ transform: scale(1.15);	}
.icon:active	{ transform: scale(0.9);	}

/* Utility / layout aids */
.float.left     { float: left;  }
.float.right    { float: right; }

.flex   { display: flex; }
.flex.across	{ flex-direction: row;		}
.flex.down		{ flex-direction: column;	}
.flex-1 { flex: 1;  }
.flex-2 { flex: 2;  }
.flex-3 { flex: 3;  }
.flex-4 { flex: 4;  }
.flex-5 { flex: 5;  }
.flex-6 { flex: 6;  }

.small-spacing	{ margin: 0.2rem 0.3rem;  padding: 0.2rem 0.3rem;	}
.medium-spacing	{ margin: 0.3rem 0.45rem;  padding: 0.3rem 0.45rem;	}
.large-spacing	{ margin: 0.5rem 0.8rem; padding: 0.5rem 0.8rem;	}

.text-left      { text-align: left;     }
.text-centre    { text-align: center;   }
.text-right     { text-align: right;    }

.small-text     { font-size: 0.8rem;    }
.medium-text    { font-size: 1rem;      }
.large-text     { font-size: 1.3rem;    }

.tiny-image		{ max-width: 1.5rem; max-height: 1.5rem;}
.small-image	{ max-width: 3rem; max-height: 3rem;	}
.medium-image	{ max-width: 10rem; max-height: 10rem;	}
.large-image	{ max-width: 20rem; max-height: 20rem;	}

.bold-text      { font-weight: bolder;  }

.block          { display: block;           }
.inline         { display: inline;          }
.inline.block   { display: inline-block;    }

.clickable		{ cursor: pointer;		}

.invisible		{ display: none;		}
.invisilink     { text-decoration: none; color: inherit;            }
.invisilist     { list-style-type: none; margin: 0.3rem; padding: 0.3rem; }

.img-text-middle{ vertical-align: middle; }