body
{
	width: calc(100% - 13px);
	margin: 0; padding: 0;
	
	font-family: "Fresca", sans-serif;
	
	background-image: url(../images/swirl.png);
	background-color: rgba(121, 206, 210, 0.45);
}

a			{ color: #95b7e2; transition: color 0.25s;	}
a:visited	{ color: #95b7e2;	}
a:hover		{ color: #81a5d3;	}
a:active	{ color: #6793cb;	}

hr
{
	width: 75%;
	border: 1px solid #aec4e2;
	border-radius: 1rem;
}

footer
{
	text-align: center;
}

.nanoModal
{
	color: #5a34bf;
	background: rgba(200, 189, 229, 0.5);
	background-size: 4rem;
}

.nanoModal input:not([type=button]), .nanoModal textarea
{
	background	: rgba(255, 255, 255, 0.5);
	color		: #7a5bcc;
}
.nanoModal ::-webkit-input-placeholder	{ color: rgba(184, 167, 230, 0.78); }

.nanoModalOverlay
{
	background	: white;
	opacity		: 0.6;
}

.nanoModal button
{
	margin			: 0.4rem 0.5rem;
	padding			: 0.4rem 0.5rem;
	
	background-color: #8142ca !important;
	border			: 0.1rem solid #9d51d4 !important;
	border-radius	: 0.5rem;
	
	transition		: all 0.25s;
}
.nanoModal button:hover	{ background-color: #7236b6 !important; border-color: #893cc0 !important; }
.nanoModal button:active{ background-color: #6024a3 !important; border-color: #7629ad !important; }

.nanoModalButtons
{
	border-top: 1px solid rgba(176, 89, 208, 0.4);
}

.logo
{
	margin-top: 1rem;
	
	text-align: center;
}
.logo img	{ max-width: 90%;		}

#display-login-name
{
	display		: inline-block;
	margin-top	: 0.8rem;
	
	font-family	: "Londrina Solid", cursive;
	font-size	: 1.3rem;
}

#display-bookmark-count
{
	background		: url(../images/icons/star.png) no-repeat;
	background-size	: contain;
	
	cursor			: help;
}

.bookmark
{
	position		: relative;
	margin			: 0.5rem;
	padding			: 0.9rem 1.3rem;
	
	background		: rgba(255, 255, 255, 0.37);
	border-radius	: 0.4rem;
}

.bookmark .top-row, .bookmark .bottom-row
{
	margin: 0.2rem;
}

.bookmark-favicon
{
	-webkit-appearance	: none;
	appearance			: none;
	
	position			: relative;
	display				: inline-block;
	
	width				: 2rem;
	height				: 2rem;
	
	margin				: 0.4rem 0.5rem 0 0;
	
	background-size		: contain;
	
	cursor				: pointer;
	
	transform			: scale(1);
	opacity				: 1;
	
	transition			: all 0.2s;
}

.bookmark-favicon:focus
{
	outline: 0;
}

.bookmark-favicon:checked:after
{
	position	: absolute; left: 0.3rem; top: -0.5rem;
	
	content		: "✓";
	font-size	: 2rem;
	
	opacity		: 1;
}

.bookmark-favicon:active, .bookmark-favicon:checked:active
{
	opacity		: 0.5;
	transform	: scale(1.5);
}

.bookmark-favicon:checked
{
	transform	: scale(1.25);
	opacity		: 0.6;
}

.bookmark-url
{
	opacity: 0.6;
}

.bookmark-tags
{
	display		: inline-block;
	
	text-align	: right;
	line-height	: 2.4rem;
}

.tag
{
	margin			: 0.25rem;
	padding			: 0.3rem 0.5rem;
	
	color			: #83a8d7;
	white-space		: nowrap;
	
	background		: rgba(255, 255, 255, 0.51);
	border-radius	: 0.4rem;
}