<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		{head_html}
	</head>
	<body>
		<section id="main">
			<section id="sidebar">
				<h1>Blow Worm</h1>
				<nav>
					<input type="search" id="search" placeholder="Type here to search...." />

					<!-- todo make these do something -->
					<ul>
						<!-- todo add more links here -->
						<li><a href="?action=import">Import...</a></li>
						<li><a href="?action=export">Export...</a></li>
					</ul>
				</nav>
			</section>
			<section>
				{content}
			</section>
		</section>
		<footer>
			Built by <a href="//starbeamrainbowlabs.com/">Starbeamrainbowlabs</a>. Source available <a href="//github.com/sbrl/blow-worm/">on github</a> - comtributions are always welcome :)
		</footer>
		
		<link rel="stylesheet" href="theme/main.css" />
		
		<script src="js/main.js"></script>
	</body>
</html>