<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{username} - Blow Worm</title>
		{head_html}
	</head>
	<body>
		<section id="sidebar">
			<h1>Blow Worm</h1>
			<!-- todo make these do something -->
			<nav>
				<input type="search" id="search" placeholder="Type here to search...." />
				
				<!-- todo make these do something -->
				<ul>
					<li><a href="?action=import">Import...</a></li>
					<li><a href="?action=export">Export...</a></li>
				</ul>
			</nav>
		</section>
		
		<section>
			
		</section>
		{footer}
		
		{js}
		{css}
	</body>
</html>